.page {
  max-width: 880px;
  background-color: #000;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 680px;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 450px;
  }
}