.card__flex_like {
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 22px;
}

@media screen and (max-width: 1024px) {
  .card__flex_like {
    padding-bottom: 15px;
  }
}